/* une grille avec flex - pisola CBS */

* {
    box-sizing: border-box;
}

body {
    background-color: gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    color: #333;
    text-align: justify;
}

.bleu-leger {
    background-color: lightblue;
}

.vert-leger {
    background: lightgreen;
}

.gris-leger {
    background-color: lightgrey;
}

.conteneur {
    width: 100%;
    background-color: #fff;
}

/* la classe pour créer une rangée */

.row {
    display: flex;
    flex-direction: row;
    /* passage à la ligne des éléments pour que la largeur des col soit respectée */
    flex-wrap: wrap;
    row-gap:5px;
    margin-bottom: 5px;

    border: 1px solid orange;
}

/* la classe pour mettre les éléments les uns en dessous des autres */

.column {
    display: flex;
    flex-direction: column;
}

.centre {
    justify-content: center;
}

/* la grille sur 12 colonnes, et la définition de la largeur des colonnes */
.col-1 {
    /* cette valeur est la largeur en % d'une colonne si je veux la largeur de 2 colonnes je fais la largeur d'une colonne X 2 */
    width: 8.333333%;
    padding: 5px;
}

.col-2 {
    width: 16.666666%;
    padding: 5px;
}

.col-3 {
    width: 25%;
    padding: 5px;
}

.col-4 {
    width: 33.333333%;
    padding: 5px;
}

.col-5 {
    width: 41.666666%;
    padding: 5px;
}

.col-6 {
    width: 50%;
    padding: 5px;
}

.col-7 {
    width: 58.333333%;
    padding: 5px;
}

.col-8 {
    width: 66.666666%;
    padding: 5px;
}

.col-9 {
    width: 75%;
    padding: 5px;
}

.col-10 {
    width: 83.333333%;
    padding: 5px;
}

.col-11 {
    width: 91.666666%;
    padding: 5px;
}

.col-12 {
    width: 100%;
    padding: 5px;    
}

/* les marges à gauche pour créer si on le veut des colonnes vides */
.marge-1 {
    margin-left: 8.333333%;
}
.marge-2 {
    margin-left: 16.66666%;
}
.marge-3 {
    margin-left: 25%;
}
.marge-4 {
    margin-left: 33.333333%;
}
.marge-5 {
    margin-left: 41.666666%;
}
.marge-6 {
    margin-left: 50%;
}
.marge-7 {
    margin-left: 58.333333%;
}
.marge-8 {
    margin-left: 66.666666%;
}
.marge-9 {
    margin-left: 75%;
}
.marge-10 {
    margin-left: 83.333333%;
}
.marge-11 {
    margin-left: 91.666666%;
}

h1 {
    background: url("../img/dolomites-italie.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    height: 250px;
    line-height: 250px;
    text-align: center;
    width: 80%;
}

.transparent {
    background-color: #fff;
    opacity: 0.8;
    border-radius: 5px;
    
}

footer {
    height: 200px;
    background-color: rgb(95, 94, 94);
}






/* Ici d'autres commentaires */


/* MDN : La propriété flex-wrap indique si les éléments flexibles sont contraints à être disposés sur une seule ligne ou s'ils peuvent être affichés sur plusieurs lignes avec un retour automatique. Si le retour à la ligne est autorisé, la propriété permet également de contrôler la direction dans laquelle les lignes sont empilées.*/

/* MDN : La propriété flex-direction définit la façon dont les éléments flexibles sont placés dans un conteneur flexible : elle définit l'axe principal et la direction des éléments (normale ou inversée).*/

/* .flex div {
    text-align: justify;
    width: 49%;
    /* Avec WIDTH plu grand, les enfants s'adaptent à la taille du parent et descendaent à la ligne en foction, avec WIDTH plus petits, ils s adaptent et deviennent des petite carrés dans le parent */


/* goutieres entre les rangées */
    /* row-gap: 20px; */

    /* goutières entre les colonnes */
    /* column-gap: 2px; */
  
    /* row-gap et colomn-gap:
    gap: 20px 2%; */