/* style pour la grille 06 */

* {
    box-sizing : border-box;
}

/* Une grille avec flex et du responsive */

body {
    background-color: lightyellow;
    font-family: 'Roboto', sans-serif;
}


/* Les sections sont displays-flex */

section {
   display: flex;
   flex-direction: row;

   max-width: 1000px;
   margin: auto;
   background-color: white;
}

.colonne {
    margin: 10px;
    border: 1px dotted black;

    /*Avec flex-grow et flex-shrink ( il faut les utiliser au même temps)nous voulons que nos colonnes se comportent de la même façon lorsqu'elles s'agrandissent ou se rapetissent*/

    /* On donne la valeur 1 qui indique à flex-box comment augmenter cette taille si nécessaire */

    /* flex-grow: 1; */

    /* flex-shrink indique à flex-box comment le réduire cette taille si nécessaire */
    /* flex-shrink: 1; */

    /* Avec flex-basis on peut avoir des pixels */
    /* flex-basis: 0; */

    /*ci dessou, le propritées raccourcies pour les 3 propritetés au même temps : grow shrink basis */
    /* flex: 1 1 0; */

    flex: 1 1 0;
}






/* Couleurs pour identifier */

.bleu {
    background-color: lightskyblue;
}

.vert {
    background-color: lightgreen;
}

.gris {
    background-color: lightgray;
}

/* La classe pour creer une rangée */

