/* le style pour desert correction - Justine */

/* 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; */
/* } */

/* déclaration des couleurs en :root */

:root {
    --gris-clair: #ddd;
    --blanc: #fff;
    --noir: #000;
    --ocre: #a65122;
}

body {
    background-color: var(--gris-clair);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

.conteneur {
    background-color: var(--blanc);
    width: 60%;
    margin: auto;
    /* border: 1px solid red; */
}

header {
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    border-bottom: 1px solid var(--gris-clair);
}

h1 {
    font-family: 'Philosopher', sans-serif;
    color: var(--ocre);
    padding-left: 15px;      /* pour separer le h1 du logo depuis la gauche */
    letter-spacing: -1px;    /* pour rapprocher les lettres */
}

header div {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

nav a {
    padding: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--noir);
}

nav a:hover {
    font-weight: bolder;
}

/* partie principale */

h2 {
    text-indent: 5%;    /* donner une marge p le texte */
    font-size: 1.3em;
}

section div {
    padding: 20px;
}

aside {
    margin: 5px;
    margin-left: 20px;
}

img {
    max-width: 100%;       /* l'image fera au max100% de son parent, pour media queries */
}

div p {
    padding: 10px;
}

h3 {
    padding: 20px;
    border-bottom: 1px solid var(--gris-clair);
}

h3:nth-of-type(2) { /* ici on selectionne le 2e h3 de notre html */
    margin-top: 150px;
}

/* footer */

footer {
    height: 80px;
    width: 100%;
    border-top: 1px solid var(--gris-clair);
    text-align: center;
}

/* les classes pour déclarer les colonnes */

.col-1 {
        /* cette valeur est la largeur en % d'une colonne si je veux la largeur de 2 colonnes je fais la largeur d'une colonne X 2 */
    width: 8.333333%;
    padding: 5px;
}

.col-2 {
    width: 16.666666%;
    padding: 5px;
}

.col-3 {
    width: 25%;
    padding: 5px;
}

.col-4 {
    width: 33.333333%;
    padding: 5px;
}

.col-5 {
    width: 41.666666%;
    padding: 5px;
}

.col-6 {
    width: 50%;
    padding: 5px;
}

.col-7 {
    width: 58.333333%;
    padding: 5px;
}

.col-8 {
    width: 66.666666%;
    padding: 5px;
}

.col-9 {
    width: 75%;
    padding: 5px;
}

.col-10 {
    width: 83.333333%;
    padding: 5px;
}

.col-11 {
    width: 91.666666%;
    padding: 5px;
}

.col-12 {
    width: 100%;
    padding: 5px;    
}

/* Déclaration des media queries */

/* pour les telephones */

@media screen and (max-width: 800px) {

     /* Ici on déclare que notre colonne doit faire toute la largeur de sont parent, en les faisant descendre l'une en dessous de l'autre, tout en verticale, en responsive, et non à l'horizontale */

    .conteneur {
        display: flex;
        width: 100%;
    }

    /* * ça ressemble a bootstrap, on dit ici q toutes les colonnes se mettent l une en dessous de l'autre qd sur mobile : xs :ecran extrasmall */ 

    .col-xs-12 { 
        width: 100%;
    }

    header {
        padding-left: 0;/* ici on eneleve le padding left qu on a mis sur header desktop */
        flex-flow: column wrap;
        text-align: center;
    }

    nav a {
        padding: 5px;
    }
}

/* pour les tablettes */
@media screen and (min-width: 801px) and (max-width: 1200px)  { 
    .conteneur {
        width: 100%;
    }

    .col-md-12 {
        width: 100%;
    }
}







/* les marges à gauche pour créer si on le veut des colonnes vides */
/* .marge-1 {
    margin-left: 8.333333%;
}
.marge-2 {
    margin-left: 16.66666%;
}
.marge-3 {
    margin-left: 25%;
}
.marge-4 {
    margin-left: 33.333333%;
}
.marge-5 {
    margin-left: 41.666666%;
}
.marge-6 {
    margin-left: 50%;
}
.marge-7 {
    margin-left: 58.333333%;
}
.marge-8 {
    margin-left: 66.666666%;
}
.marge-9 {
    margin-left: 75%;
}
.marge-10 {
    margin-left: 83.333333%;
}
.marge-11 {
    margin-left: 91.666666%;
 }  */