/* styles pour la boxe correction cf. Christian */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgrey;
}

/* en-tête */
header {
    display: flex;
    flex-direction: row;
    background-color: white;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
}

header > div > img {
    display: flex;
    font-size: 300%;
    margin: 20px;
}

header > div > h1 {
    display: flex;
    font-size: 200%;
    padding: 50px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

header nav a {
    padding-left: 50px;
    text-decoration: none;
    font-weight: bold;
}

/* le contenu principal dans main  */
main {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0%;
    background-color: white;
}

main img {
    width: 100%;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 150px; 
}

main article {
    position: relative;
    margin: 50px auto;
    width: 35%;
}

main article figure {
    position: relative;
    text-align: center;
}

main article figcaption {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

main article div {
    display: flex;
    justify-content: space-evenly;
}



/* le pied de page */

footer {
    background-color: white;
    color: grey;
}

.aside_gauche {
    width: 100px;
    background-color: lightgrey;   
}

footer section {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

footer figure {
    width: 20%;
    text-align: center;
}

footer figure img {
    padding-bottom: 20px;
}

footer figcaption, footer p {
    font-size: small;
    text-align: center;
}

footer hr {
    width: 80%;
    margin: 20px auto;
}
/* la partie réseaux sociaux  */
#reseaux {
    justify-content: center;
    margin: 30px;
}

#reseaux a {
    display: inline-block;
    margin: 0 50px;
}

/* les styles pour media queries */

/* @media screen and (max-width: 576px) {

    body {
        background-color: #fff;
    }

    header > div {
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
        /* gap: 2rem;
    }

    header figure {
        width: 80%;
        text-align: center;
    }

    header figure+div {
        width: 80%;
        align-items: flex-start;
        gap: 1rem;
    }

    header nav {
        justify-content: space-between;
    }

    main {
        width: 90%;
    }

    main article {
        width: 60%;
    }

    footer figure {
        width: 45%;
    }
} */

/* @media screen and (min-width: 577px) and (max-width: 1200px) {

    header > div {
        background-color: pink;
    }
} */

/* des styles en cas d'impression de la page  */
/* @media print {
    body {
        background-color: #fff;
    }

    footer {
        background-color: #eee;
    }

    main img {
        opacity: 0.4;
    }
} */ 