/* styles pour la correction cf. Christian */


/* raccourci pour faire un commentaire long : cmtl */

/* typo en local */

@font-face {
    font-family: 'liberation_sansbold';
    /* src: url('../fonts/LiberationSans-Bold-webfont.ttf'), */
    src:   url('../fonts/liberationsans-bold-webfont-webfont.woff2') format('woff2'),
        url('../fonts/liberationsans-bold-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_sansregular';
    /* src: url(../fonts/LiberationSans-Regular-webfont.ttf) format('ttf') , */
    src:    url('../fonts/liberationsans-regular-webfont-webfont.woff2') format('woff2'),
        url('../fonts/liberationsans-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'liberation_sanregular', Arial, Helvetica, sans-sérif; */


body {
    font-family: 'liberation_sanregular', Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    color: white;
}

/* en-tête */
header {
/* l'image donf hu header se répète */
    background-image: url("../images/background.jpg");
}

/* lecture ici : la div qui est dns le header */
header > div {
    display: flex;
    justify-content: space-between;
}

/* les parties auto-centrées */
header > div, main, footer > div {
    width: 1024px;
    margin: 0 auto;
    background-color: pink;
}

/* le contenu principal dans main */
main img {
    width: 100%;
}

/* lecture ici : toutes les sections qui sont dans main */
main section {
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap iic : la largeur des enfants est respectée et le 4e element va à la ligne */

}

/* le pied de page */
footer {
    background: #373737;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: auto;
    width: 80%;
    border-radius: 10px;
    height: 50px;
    background-color: white;
}

/* ici on cree les cercles des petites div qui separent les elements de la 2e nav */

footer nav div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgray;
}