* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styles pour la correction cf. Christian */


/* raccourci pour faire un commentaire long : cmtl */

/* typo en local */

@font-face {
    font-family: 'liberation_sansbold';
    /* src: url('../fonts/LiberationSans-Bold-webfont.ttf'), */
    src:   url('../fonts/liberationsans-bold-webfont-webfont.woff2') format('woff2'),
        url('../fonts/liberationsans-bold-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_sansregular';
    /* src: url(../fonts/LiberationSans-Regular-webfont.ttf) format('ttf') , */
    src:    url('../fonts/liberationsans-regular-webfont-webfont.woff2') format('woff2'),
        url('../fonts/liberationsans-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'liberation_sanregular', Arial, Helvetica, sans-sérif; */


body {
    font-family: 'liberation_sanregular', Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    color:black;
}

/* les parties auto-centrées */
header > div, main, footer > div {
    width: 1024px;
    margin: 0 auto;
    padding: 30px 0;
}

/* en-tête */
header {
/* l'image donf hu header se répète */
    background-image: url("../images/background.jpg");
}

/* lecture ici : la div qui est dns le header */
header > div {
    display: flex;
    justify-content: space-between;
}

header figcaption {
    margin-top: 20px;
}

header figcaption span {
    color: #ea9f06;
}

header p {
    font-size: 110%;
}

/* le contenu principal dans main */
main {
    padding-bottom: 0%;
}

main img {
    width: 100%;
}

/* lecture ici : toutes les sections qui sont dans main */
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding-bottom: 150px;
    background-color: #F3F3F3;
    /* flex-wrap: wrap iic : la largeur des enfants est respectée et le 4e element va à la ligne */
}

main article {
    position: relative;
    margin: 50px auto;
    width: 35%;
}

main article figure {
    position: relative;
    text-align: center;
}

main article figcaption {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

/* il faut display-flex ici pour mettre la div en horizontal, sans ça le texte de cette div reste de haut en bas, les petis-enftns ont besoin d avori le display flex car c les parent et enfants que sont flex au depart par la section flex */

main article div {
    display: flex;
    justify-content: space-evenly;
}

main article a {
    display: block;
    padding: 10px;

    text-decoration: none;
    color: #fff;
    text-align: center;
}

/* les prix des articles */

.ancien-prix {
    text-decoration: line-through;
}

.nouveau-prix {
    color: #ea9f06;
}

/* les prix des articles */

.ancien-prix {
    text-decoration: line-through;
}

.nouveau-prix {
    color: #EA9F06;
}

.rabais {
    position: absolute;
    top: 25px;
    right: -15px;
    padding: 4px;
    background-color: #292929;
    border-radius: 10px;
    color: #EA9F06;
    font-weight: bold;
}


















/* le + ici montre qu on vise les 2 elements dans la div du header avec precision : le p + la nav pour les mettre en column */
/*La partie droite de l'en-tête */
/* header figure+div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
} */
/* 
header nav {
    width: 100%;
    background-color: rgb(160, 113, 113);
} */

/* header nav a {
    padding-left: 50px;
    text-decoration: none;
    font-weight: bold;
} */


/* le pied de page */
footer {
    background: #373737;    
}


/* /la nav du pied de page dans le cartouche */
footer nav {
    display: flex;
    flex-wrap: wrap;
    /* evenly: uniforme */
    /* ici evenly met une sorte de padding entre les elements de la nav */
    justify-content: space-evenly;
    align-items: center;

    margin: auto;
    width: 50%;
    border-radius: 10px;
    height: 50px;
    background-color: white;
    /* position relative et par rapport au haut la nav 2 est à -25 */
    position: relative;
    top: -25px;
}

footer nav a {
    text-decoration: none;
    color: #373737;
}

/* ici on cree les cercles des petites div qui separent les elements de la 2e nav */

/* les cercles dans la nav */
/* la nav du pied de page dans le cartouche  */

footer nav div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d1d1d1;
}

footer section {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

footer figure {
    width: 20%;
    text-align: center;
}

footer figure img {
    padding-bottom: 20px;
}

footer figcaption, footer p {
    font-size: small;
    text-align: center;
}


/* la partie reseaux sociaux */

#reseaux {
    justify-content: center;
    margin: 0;
}

#reseaux a {
    display: inline-block;
    margin: 0 50px;
}


